<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login">
  <div class="contenid-login">
    <!-- Input with placeholder -->
    <img class="center-logo" src="/assets/icon/LOGONINESSELAS2.png" alt="Logo" style="width: 70%;">
    <h5 class="pt-5 pb-3 text-center fs-27">Bienvenido a tu APP</h5>
    <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <!-- Boton Ingresar -->
    <ion-button class="btn-send" color="primary" (click)=onLogin()>Ingresar</ion-button>
    <ion-button class="btn-send" color="primary" href="/register">Registrate</ion-button>
    <div class="or pt-4">
        <h6 class="pb-3 text-center">Tambien Ingresas con</h6>
        <div class="row icon-login">
          <div class="col-1"><ion-icon class="icon" name="logo-facebook"></ion-icon></div>
          <div class="col-1"><ion-icon class="icon" name="logo-google"></ion-icon></div>
        </div>
    </div>
  </div>
</ion-content>