.login{
    .contenid-login{
        padding: 30px 15px 30px 15px;
        img {
            max-height: 40%;
            max-width: 100%;
            margin: 0px 0 15px;
            pointer-events: none;
        }
        h3{
            text-align: center;
        }
        .center-logo{
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-send{
            margin-top: 30px;
            width: 100%;
        }
        .or{
            .icon-login{
                justify-content: center;
            }
        }
    }
}