.row-search{
  padding: 5px 4px 0px 4px;
}
.nine-main{
  .welcome-card {
    img{
      max-height: 35vh;
      overflow: hidden;
    }
    .card-boton{
      .row-cad{
        padding-top: 10px;
        .base01{
          padding: 3px 3px 3px 3px;
        }
      }
    }
    .card-redes{
      .col-redes{
        .bg-facebook{
          padding: 20px 20px 20px 20px;
          background-color: #3b5998;
          .icon{
            color: white;
            font-size: 30px;
          }
        }
        .bg-instagram{
          padding: 20px 20px 20px 20px;
          background-image: url(/assets/img/bg-instagram.jpg);
          .icon{
            color: white;
            font-size: 30px;
          }
        }
        .bg-youtube{
          padding: 20px 20px 20px 20px;
          background-color: #c4302b;
          .icon{
            color: white;
            font-size: 30px;
          }
        }
      }
    }
    .card-text{
      position: absolute;
      z-index: 999;
      top: 20%;
    }
  }
  .card-content-md{
    p{
      font-size: 13px;
    }
  }
}