<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      <img _ngcontent-hsp-c3="" alt="" src="/assets/icon/LOGONINESSELAS2.png" style="width: 35%; padding: 10px 2px 2px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="row row-search">
  <div class="col">
      <ion-searchbar placeholder="Busqueda" showCancelButton="focus"></ion-searchbar>
  </div>
</div>

<ion-content class="nine-main">
    <ion-card class="welcome-card">
      <img src="/assets/img/slider05-min.jpg" alt="" />
      <ion-card-header class="card-text">
        <ion-card-subtitle class="text-light">Bienvenido</ion-card-subtitle>
        <ion-card-title class="text-light">AGENCIA DE ACTORES Y FIGURACIÓN</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-boton">
        <div class="row-cad row">
          <div class="col base01">
              <ion-item color="primary" href="https://ionicframework.com/docs/">
                  <ion-label>
                    Figuración
                    <p>Artes figurativas para obras teatral o cinematográfica</p>
                  </ion-label>
                  <ion-badge color="light">99</ion-badge>
              </ion-item>
          </div>
          <div class="col base01">
            <ion-item color="primary" href="https://ionicframework.com/docs/">
                <ion-label>
                  Actor
                  <p>Interprete de un personaje de ciencia ficticio ya sea en el cine, en la radio o en la televisión</p>
                </ion-label>
                <ion-badge color="light">45</ion-badge>
            </ion-item>
          </div>
          <div class="col base01">
            <ion-item color="primary" href="https://ionicframework.com/docs/">
                <ion-label>
                  Niños
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </ion-label>
                <ion-badge color="light">75</ion-badge>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
      <div class="row text-center card-redes">
        <div class="col col-redes">
          <div class="bg-facebook">
            <ion-icon class="icon" name="logo-facebook"></ion-icon>
          </div>
        </div>
        <div class="col col-redes">
          <div class="bg-instagram">
            <ion-icon class="icon" name="logo-instagram"></ion-icon>
          </div>
        </div>
        <div class="col col-redes">
          <div class="bg-youtube">
            <ion-icon class="icon" name="logo-youtube"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
</ion-content>