<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      <img _ngcontent-hsp-c3="" alt="" src="/assets/icon/LOGONINESSELAS2.png" style="width: 35%; padding: 10px 2px 2px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="nine-main">
    <ion-card class="welcome-card">
      <img src="/assets/img/slider05-min.jpg" alt="" />
      <ion-card-header class="card-text">
        <ion-card-subtitle class="text-light">Bienvenido</ion-card-subtitle>
        <ion-card-title class="text-light">AGENCIA DE ACTORES Y FIGURACIÓN</ion-card-title>
      </ion-card-header>      
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Usuarios figurativos</ion-card-subtitle>
            <ion-card-title>Figuración</ion-card-title>
          </ion-card-header>
          <p>
            Artes figurativas para obras teatral o cinematográfica
          </p>
          <ion-item>
            <ion-button fill="solid">Ver mas ..</ion-button>
            <ion-icon name="heart" slot="end"></ion-icon>
            <ion-icon name="share" slot="end"></ion-icon>
            <ion-badge color="light" slot="end">75</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Usuarios Actores</ion-card-subtitle>
              <ion-card-title>Actor</ion-card-title>
            </ion-card-header>
            <p>
                Interprete de un personaje de ciencia ficticio ya sea en el cine, en la radio o en la televisión
            </p>
            <ion-item>
              <ion-button fill="solid">Ver mas..</ion-button>
              <ion-icon name="heart" slot="end"></ion-icon>
              <ion-icon name="share" slot="end"></ion-icon>
              <ion-badge color="light" slot="end">30</ion-badge>
            </ion-item>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Usuarios niños</ion-card-subtitle>
              <ion-card-title>Niños</ion-card-title>
            </ion-card-header>
            <p>
              Niños jovenes preparados para ciencia ficticio ya sea en el cine, en la radio o en la televisión
            </p>
            <ion-item>
              <ion-button fill="solid">Ver mas..</ion-button>
              <ion-icon name="heart" slot="end"></ion-icon>
              <ion-icon name="share" slot="end"></ion-icon>
              <ion-badge color="light" slot="end">28</ion-badge>
            </ion-item>
          </ion-card-content>
      </ion-card>


      <div class="row text-center card-redes">
        <div class="col col-redes">
          <div class="bg-facebook">
            <ion-icon class="icon" name="logo-facebook"></ion-icon>
          </div>
        </div>
        <div class="col col-redes">
          <div class="bg-instagram">
            <ion-icon class="icon" name="logo-instagram"></ion-icon>
          </div>
        </div>
        <div class="col col-redes">
          <div class="bg-youtube">
            <ion-icon class="icon" name="logo-youtube"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
</ion-content>