.center-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}

.center-spiner{
    position: absolute;
    left: 50%;
    top: 48%;
}