<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      <img _ngcontent-hsp-c3="" alt="" src="/assets/icon/LOGONINESSELAS2.png" style="width: 35%; padding: 10px 2px 2px;">
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="onLogout()">logout</ion-button>
  <ion-button routerLink="/home">Home</ion-button>
  <ion-button routerLink="/admin">admin</ion-button>
  <ion-toolbar>
      <ion-title>Busqueda de artistas</ion-title>
      <div class="col row-search">
        <ion-searchbar placeholder="Busqueda" showCancelButton="focus"></ion-searchbar>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div *ngIf="!tasks" class="center-spiner spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div *ngFor="let item of tasks">
        <ion-list-header>
            Figuración
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/img/avatar-finn.png">
            </ion-avatar>
            <ion-label>
              <h2>{{ item.userId }}</h2>
              <h3>I'm a big deal</h3>
              <p>{{ item.title }}</p>
            </ion-label>
        </ion-item>
    </div>
</ion-content>