.center-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
.form-bottom{
    .btn-send{
        margin-top: 30px;
        width: 100%;
    }
}