<ion-header>
  <ion-toolbar>
    <ion-title>
      Registrate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="center-logo">
              <img src="../../assets/img/Vector Smart Object.png"/>
              <h3>Registrate!</h3>
            </div>
            <div class="form-inf"> 
              <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="user.email" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input name="confirm" type="password" [(ngModel)]="user.password" required></ion-input>
              </ion-item>
            </div>
            <div class="form-bottom">
              <ion-button class="btn-send" (click)="onRegister()">Registrar</ion-button>
              <ion-button class="btn-send" routerLink="/login">Ingresar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>